*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #3D087B;
}
.parent{
    height: 100vh;
    display: flex;
    gap: 20px;
    margin-left: 100px;
}
.container1{
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top:  40px;
    margin-left: 50px;
}
.clock_logo{
    height: 34px;
}
.timecard{
    background-color: white;
    color: #3D087B;
    line-height: 70px;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    position: relative;
    top: 50px;
    padding-bottom: 10px;
    font-size: 18px;
}
select{
    color: #3D087B;
    border: 1px solid #e2e1e1;
    opacity: 3;
}
label{
    position: relative;
    left: 45px;
    top: 2px;
}
#wakeuptime{
    position: relative;
    left: 72px;
    width: 230px;
    height: 30px;
    padding-left: 10px;
}
#lunchtime{
    position: relative;
    left: 93px;
    width: 230px;
    height: 30px;
    padding-left: 10px;
}
#naptime{
    position: relative;
    left:109px;
    width: 230px;
    height: 30px;
    padding-left: 10px;
}
#nighttime{
    position: relative;
    left: 96px;
    width: 230px;
    height: 30px;
    padding-left: 10px;
}
.image{
    position: relative;
    top: 12px;
    left: 25px;
    height: 30px;
}
.morning_message{
    padding: 10px 20px; 
    height: 100px;
    width: 500px;
    border-radius: 10px;
    background-color: #845ab4de;
    color: white;
    position: relative;
    top: 50px;
    font-family: 'Carter One', cursive;
    font-weight: 900;
    font-size: 25px;
}
.alarm{
    position: relative;
    top: 40px;
}
button{
    height: 40px;
    width: 240px;
    border-radius: 5px;
    background: linear-gradient(to right, #6E54EC, #CB52F8, #FC5EFF);
    border: none;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
button:hover{
    background: linear-gradient(to right, #FC5EFF, #CB52F8, #6E54EC);
}
.timeset{
    height: 120px;
    width: 250px;
    padding-left: 15px;
    padding-top: 7px;
    line-height: 25px;
    border-radius: 10px;
    background-color: #845ab4de;
    color: #F25CFE;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: bold;
    float: right;
}

.container2{
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.card1{
    background-color: white;
    height: 105px;
    width: 535px;
    border-radius: 10px;
    color: #3D087B;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 20px;
    z-index: 5;
}
h3{
    position: relative;
    top: 38px;
    left: 50px;
}
#clock{
    margin-left: 95px;
    margin-top: 32px;
    font-size: 20px; 
    color: #8A11BF;
    font-family: 'Barlow', sans-serif;
    display: flex;
    gap: 20px;
}
#hours{
    margin-top: -5px;
    position: relative;
    left: -1px;
    text-align: center;
}
#mins{
    margin-top: -5px;
    position: relative;
    left: 1px;
    text-align: center;
}
#secs{
    margin-top: -5px;
    position: relative;
    left: 5px;
    text-align: center;
}
#ampm{
    margin-top: 6px;
    position: relative;
    left: 50px;
    text-align: center;
    color: white;
}
.colon1{
   position: relative;
   left: -4px;
   top: 1px;
}
.colon2{
    position: relative;
    left: 2px;
    top: 1px;
}
.img1{
    position: relative;
    right: 310px;
    z-index: -10;
}
.img2{
    position: relative;
    right: 315px;
    z-index: -10;

}
.img3{
    position: relative;
    right: 320px;
    z-index: -10;

}
.img4{
    position: relative;
    right: 325px;
    z-index: -10;

}
.hiddenbox1{
    height: 50px;
    width: 440px;
    border-radius: 5px;
    background-color: #FFFFFF;
    opacity: 0.8;
    position: absolute;
    top: 98px;
    left: 720px;
    z-index: 2;
}
.hiddenbox2{
    height: 50px;
    width: 400px;
    border-radius: 5px;
    background-color: #FFFFFF;
    opacity: 0.3;
    position: absolute;
    top: 112px;
    left: 740px;
}
.card2{
    background-color: white;
    height: 80px;
    width: 535px;
    border-radius: 10px;
    position: absolute;
    top: 175px;
    font-family: 'Carter One', cursive;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    word-spacing: 5px;
    color: #8E53F0;
    padding-top: 15px;
}
.card3{
    position: absolute;
    top: 270px;
    height: 340px;
}




/* ########################## */
@media (max-width: 500px) and (min-width: 250px){
    .parent{
        display: flex;
        flex-direction: column;
        margin-left: 5px;
    }
    .clock_logo{
        height: 15px;
    }
    .timecard{
        width: 350px;
        line-height: 30px;
        height: 200px;
        font-size: 12px;
        position: relative;
        top: 290px;
        margin-left: 14px;
    }
    #wakeuptime{
        width: 150px;
        position: relative;
        left: 70px;
        font-size: 12px;
    }
    #lunchtime{
        width: 150px;
        position: relative;
        left: 82px;
        font-size: 12px;

    }
    #naptime{
        width: 150px;
        position: relative;
        left: 90px;
        font-size: 12px;

    }
    #nighttime{
        width: 150px;
        position: relative;
        left: 84px;
        font-size: 12px;
    }
    .card1{
       width: 380px;
       font-size: 12px;
       position: absolute;
       top: -270px;
    }
    .morning_message{
        font-size: 20px;
        width: 380px;
        height: 53px;
        position: relative;
        top: 280px;
    }
    #button{
        width: 150px;
        position: relative;
        top: 225px;
    }
    .timeset{
        width: 210px;
        position: absolute;
        top: 230px;
        left: 166px;
    
       
    }
    .container1{
        margin-left: 0px;
    }
    .container2{
        position: relative;
        top: -5px;
    }
    .hiddenbox1{
        position: relative;
        left: 23px;
        top: -375px;
        width: 330px;
       
    }
    .hiddenbox2{
        position: relative;
        left: 42px;
        top: -410px;
        width: 290px;
        
    }
    .card2{
        width: 380px;
        height: 60px;
        font-size: 18px;
        position: relative;
        top: -395px;
    }
    .img1{
        position: relative;
        right: 140px;
        top: -23px;
        z-index: -10;
        width: 70px;
        height: 150px;
    }
    .img2{
        position: relative;
        right: 150px;
        top: -23px;
        z-index: -10;
        width: 70px;
        height: 150px;
    
    }
    .img3{
        position: relative;
        right: 160px;
        z-index: -10;
        width: 70px;
        height: 150px;
        top: -23px;
    
    }
    .img4{
        position: relative;
        right: 170px;
        z-index: -10;
        width: 70px;
        height: 150px;
        top: -23px;
    
    }
    .colon1{
        position: relative;
        left: -15px;
        top: 3px;
    }
    .colon2{
        position: relative;
        left: 39px;
        top: 3px;
    }
    h3{
        position: relative;
        left: 20px;
    }
    #hours{
        position: absolute;
        left: 73px;
        top: 28px;
    }
    #mins{
        position: absolute;
        left: 156px;
        top: 28px;
    }
    #secs{
        position: absolute;
        left: 236px;
        top: 28px;
    }
    #ampm{
        position: absolute;
        left: 324px;
        top: 35px;
    }
    #image{
        height: 250px;
        width: 500px;
        position: absolute;
        top: 155px;
    }
    .card3{
        margin-left: -55px;
        margin-top: -100px;

    }
    .card1{
        position: relative;
        top: -340px;
    }

}